body {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;

  background-color: black;

  display: grid;
  justify-content: center;
  align-content: center;
}

p {
  margin: 0;
  padding: 0;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #aaa;
  font-size: 20vmax;
}
.errorAnim {
  animation: errorAnim 200ms linear;
}
@keyframes errorAnim {
  0% {
    color: #aaa;
  }
  50% {
    color: tomato;
  }
  100% {
    color: #aaa;
  }
}
